*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:rgb(5,0,48);
    --secondary-color: rgb(0, 37, 248);
    --tertiary-color: rgb(213, 233, 233);
}

header {
    padding: 20px 35px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    top: 0;
    background-image: url(./assets/images/train.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--tertiary-color);
    margin: 0;
    display: inline;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color:var(--tertiary-color);
}

head nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: var(--tertiary-color);
    right: 50px;
    display: flex;
}

header div p {
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: rgb(0, 0, 0);
    position: absolute;
    bottom: 50px;
    right: 50px;
}

/* About Me Begin */

.about-me-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.about-me-container {
    background:transparent;
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows:2fr;
}

.about-me-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}

/*About Me End*/

/*About Me Specific Start*/

.about-me-item.me-header {
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
    font-size: 60px;
    color:var(--primary-color);
    border-right: 5px solid var(--primary-color);
}

.about-me-item.bio {
    grid-column: 3;
    justify-content: left;
    padding: 20px;
    margin: 0;
}

footer {
    background-color: transparent;
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}